@import "tailwindcss";

@theme {
  --color-primary: #1D409C;
  --color-primary-light: #8EA0CE;
  --color-accent: #CE1117;
  --color-white: #FFFFFF;
  --color-dark: #303030;
  --font-sans: 'Inter', system-ui, sans-serif;
}
